
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
</head>

<body>
  <div class="wrapper">
    <header>
      <nav>
          <ul>
              <li>
                  <a href="/">Take it or leave it</a>
              </li>
              
              <li>
                  <a href="/dashboard">dashboard</a>
              </li>
              <li>
                  <button id="logout" class="btn-no-style">logout</button>
              </li>
              <li>
                  <a href="/login">login</a>
              </li>
          </ul>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>

</div>

  <script src="/javascript/logout.js"></script>
  
</body>

</html>