<nav>
  | <a href="/category/1">Clothing</a> | 
  <a href="/category/2">Furniture</a> | 
  <a href="/category/3">Electronics</a> | 
  <a href="/category/4">Appliances</a> |
</nav>
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
