<form action="/" method = "POST" enctype="multipart/form-data">
<h1>Upload a photo</h1>

<input type = "file" name = "photoUpload" accept = "image/*" id = 'upload-input'/>
<input type = "submit">
{{!-- <button id='upload-btn'>Upload</button> --}}
</form>

{{!-- <script src='/js/upload-test.js'></script> --}}